@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

.Testimonials {
  flex: 1;                    
  background-color: #252020;
  color: white;
  padding: 2rem;              
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 1.4;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  padding-left: 10vw;
  padding-right: 10vw;
  
}

.t1 {
  background-color: #2a2525;
  border-radius: 2vw 2vw;
  padding: 1%;
}

.t2 {
  background-color: #2a2525;
  border-radius: 2vw 2vw;
  padding: 1%;

}

.t3 {
  background-color: #2a2525;
  border-radius: 2vw 2vw;
  padding: 1%;

}

.t4 {
  background-color: #2a2525;
  border-radius: 2vw 2vw;
  padding: 1%;

}


.title {
    color: rgb(153, 47, 47);
}